
html, body, div, span, p, td, th, select, input {
    font-family: 'Roboto-Regular';
}


/* include Material Icons ## START */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../Material_Icon/MaterialIcon.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
/* include Material Icons ## END */


/* include Roboto font ## START */
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* include Roboto font ## END */


/* bootstrap style for pagination ## START */
.pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-block;

    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: pointer;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
}

.pagination-lg .page-item:first-child .page-link {
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.pagination-sm .page-item:first-child .page-link {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
/* bootstrap style for pagination ## END */

.LiUserTable_header {
    width: 100%;
    padding: 2px;
    color: #040405;
    font-weight: bold;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

.LiUserTable_headerLink {
    display: block;
    
    padding: 2px;
    cursor: pointer;
    color: #213e5c;
    font-weight: bold;
}

.LiUserTable_container {
    width: 100%;
    height: 50%;
    /*border: 1px solid green;*/
    text-align: center;
}

.LiUserTable_heading {
    background-color: #aabbcc;
    color: #337ab7;
    font-weight: bold;
    font-size: 20px;
}

.LiUserTable_searchContainer {
    /*border: 1px solid green;*/
    width: 60%;
    margin: 0 auto;
}

.LiUserTable_basic_search_area {
    background-color: #e4dcdc;
    padding-bottom: 5px;
}

.LiUserTable_advanced_search_area {
    background-color: #e4dcdc;
    padding-bottom: 5px;
}

.LiUserTable_addmore {
    text-align: center;
}

.LiUserTable_searchRow{
    background-color: #e4dcdc;
    padding-top: 3px;
    padding-bottom: 3px;
    /*border: 1px solid blue;*/
    width: 99%;
}

.LiUserTable_searchSpan1 {
    padding: 0 2px;
    /*border: 1px solid red;*/
    width: 10%;
    display: inline-block;
    text-align: right;
}

.LiUserTable_searchSpan2 {
    padding: 0 2px;
    /*border: 1px solid green;*/
    width: 40%;
    display: inline-block;
    text-align: left;
}

.LiUserTable_searchSpan3 {
    padding: 0 2px;
    /*border: 1px solid orange;*/
    width: 40%;
    display: inline-block;
    text-align: left;
}

.LiUserTable_searchText {
    width: 100%;
}

.LiUserTable_searchCombo2 {
    width: 100%;
}

#LiUserTable_searchTab div button div{
    height: 32px !important;
}

#LiUserTable_searchTab div button {
    text-transform: none !important;
    height: 32px !important;
}

#LiUserTable_pagination{
    text-align: center;
}

.LiUserTable_sortShowHide { 
    display: none; 
    height: 30px !important;
}

.LiUserTable_sortShowHide > div { 
    height: 100% !important;
}

.LiUserTable_sortShowHide > button { 
    height: 100% !important;
}

.LiUsersTable_sortDropDown div div {
    line-height: 2 !important;
}

.LiUsersTable_sortDropDown div button {
    height: 100% !important;
    padding-top: 0 !important;
}

.LiUserTable_headerColumn {
    padding-left: 2px;
    padding-right: 2px;
    background-color: #ccaacc;
}

.LiUserTable_rowColumn {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    th {
	    position: absolute;
		top: -9999px;
		left: -9999px;
	}

    td.LiUserTable_rowColumn {
        width: 100%;
        float: left;
        /*display: inline-block;*/
        height: 22px !important;
    }

    td.LiUserTable_rowColumn:nth-child(1) {
        height: 50px !important;
    }

    td.LiUserTable_rowColumn:nth-child(9)  {
        height: 50px !important;
    }
    
    td:nth-of-type(1):before { width: 30%; content: ""; padding: 3px;}
	td:nth-of-type(2):before { width: 30%; content: "Name"; float: left; display: block; background-color: #dddbdc; font-weight: 600; padding: 3px;}
	td:nth-of-type(3):before { width: 30%; content: "Code"; float: left; display: block; background-color: #dddbdc; font-weight: 600; padding: 3px;}
	td:nth-of-type(4):before { width: 30%; content: "Status"; float: left; display: block; background-color: #dddbdc; font-weight: 600; padding: 3px;}
	td:nth-of-type(5):before { width: 30%; content: "Dept"; float: left; display: block; background-color: #dddbdc; font-weight: 600; padding: 3px;}
	td:nth-of-type(6):before { width: 30%; content: "Extension"; float: left; display: block; background-color: #dddbdc; font-weight: 600; padding: 3px;}
	td:nth-of-type(7):before { width: 30%; content: "Email"; float: left; display: block; background-color: #dddbdc; font-weight: 600; padding: 3px;}
    td:nth-of-type(8):before { width: 30%; content: "Acnt Status"; float: left; display: block; background-color: #dddbdc; font-weight: 600; padding: 3px;}	
    td:nth-of-type(9):before { width: 30%; content: "Action"; float: left; display: block; background-color: #dddbdc; font-weight: 600; padding: 3px;}

    .LiUserTable_sortShowHide { 
        display: inline-block; 
        height: 30px;
    }

    .LiUserTable_searchContainer {
        width: 98%;
        margin: 0 auto;
    }
}

/*
@media only screen and (max-width: 420px) {
    tr { display: table;  width:100%; }
    td { display: table-row; }

    td.LiUserTable_rowColumn {
        width: 100%;
        float: left;
        height: 30px !important;
    }
}
*/